<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>custom para la escuela</title>
    <script src="/public/js/navbar.js"></script>
</head>
<body>
    <div id="navbar-container"></div>
    <header>
    <H1>Ordenador</H1>
    <p>Este  diseño esta especialisado en computadoras preparadas para la escuela si estas buscando una computadora para la esucuela esta es la mejor opcion</p>
    
</header>
<section>
<Button>Detalles</Button>
<div class="informacion" id="informacion">

</div>
</section>
<script>

</script>
</body>
</html>